[submodule "Sem1/ArtificialIntelligence/SummaryJO0st"]
	path = Sem1/ArtificialIntelligence/SummaryJO0st
	url = git://github.com/JO0st/samenvatting_AI.git
[submodule "Sem1/LineaireAlgebra/SamenvattingNorFairKing"]
	path = Sem1/LineaireAlgebra/SamenvattingNorFairKing
	url = https://github.com/NorfairKing/lineairealgebra.git
[submodule "Gegevensbanken Boeksamenvatting"]
	path = Sem2/Gegevensbanken/Boeksamenvatting
	url = https://github.com/th0rgall/Databases.git
