[submodule "ArtificialIntelligence/SummaryJO0st"]
	path = Sem1/ArtificialIntelligence/SummaryJO0st
	url = git://github.com/JO0st/samenvatting_AI.git
	
[submodule "LineaireAlgebra/SamenvattingNorFairKing"]
	path = Sem1/LineaireAlgebra/SamenvattingNorFairKing
	url = https://github.com/NorfairKing/lineairealgebra.git
	
